# Latihan Python Tekom F 24 #

In [1]:
mylist = ["Vano", "Adam", "Adit", "Reza", "Ikzan"]
print(mylist)
print(type(mylist))

['Vano', 'Adam', 'Adit', 'Reza', 'Ikzan']
<class 'list'>

In [2]:
mytuple = ("Vano", "Adam", "Adit", "Reza", "Ikzan")
print(mytuple)
print(type(mytuple))

('Vano', 'Adam', 'Adit', 'Reza', 'Ikzan')
<class 'tuple'>

In [3]:
myset = {"Vano", "Adam", "Adit", "Reza", "Ikzan"}
print(myset)
print(type(myset))

{'Reza', 'Ikzan', 'Adam', 'Adit', 'Vano'}
<class 'set'>

In [4]:
thisdict = {
    "brand" : "Vivo",
    "model" : "y 20s G",
    "year" : "2022"
}
print(thisdict)

{'brand': 'Vivo', 'model': 'y 20s G', 'year': '2022'}

In [5]:
mahasiswa = ["Vano", "Adam", "Adit", "Reza", "Ikzan"]
mahasiswa. append("Ical")
mahasiswa. insert(3, "Siti")
mahasiswa. pop()
mahasiswa. sort(reverse=True)
mahasiswa. remove("Adit")

i = 1

for nama in mahasiswa:
    print("Nama Mahasiswa ke-", i ,": ", nama)
    i += 1

print(mahasiswa)

Nama Mahasiswa ke- 1 :  Vano
Nama Mahasiswa ke- 2 :  Siti
Nama Mahasiswa ke- 3 :  Reza
Nama Mahasiswa ke- 4 :  Ikzan
Nama Mahasiswa ke- 5 :  Adam
['Vano', 'Siti', 'Reza', 'Ikzan', 'Adam']

In [6]:
person = {"name": "Darmawati", "hp": "080808", "kelas": "TEKOM F"}
print(person)

{'name': 'Darmawati', 'hp': '080808', 'kelas': 'TEKOM F'}

In [7]:
person = {"name": "Darmawati", "hp": "080808", "kelas": "TEKOM F"}
for key, value in person.items():
    print(key, ":", value)

name : Darmawati
hp : 080808
kelas : TEKOM F

In [8]:
i = 0
while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

In [9]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [11]:
for i in range(5,10):
  print(i)

5
6
7
8
9

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:3])

['cherry']

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[3:])

['orange', 'kiwi', 'melon', 'mango']

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1:3])

['banana', 'cherry']

In [16]:
i = 1
while i <= 9:
    print(i)
    i += 2

1
3
5
7
9

In [17]:
i = 1
while i <= 13:
    if i == 7:
        print("WOW")
    else:
        print(i)
    i +=2

1
3
5
WOW
9
11
13

In [18]:
i = 1
while i <= 8:
    if i % 2 == 1:
        print("hidup")
    else:
        print("mahasiswa")
    i += 1
print(9)
print(10)

hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
9
10

In [19]:
for i in range(1, 14):
    print(i)
    if i % 3 == 2:  
        print("Ha")

1
2
Ha
3
4
5
Ha
6
7
8
Ha
9
10
11
Ha
12
13

In [20]:
for i in range(1, 14):
    if i % 3 == 0:
        print("Ha")
    elif i % 5 == 0:
        print("Hi")
    else:
        print(i)

1
2
Ha
4
Hi
Ha
7
8
Ha
Hi
11
Ha
13