# Belajar Python Tekom F 24 #

## Python Comments

In [1]:
#This is a comment
print("Hello, World!")

Hello, World!

In [2]:
print("Hello, World!") #This is a comment

Hello, World!

In [3]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

#### Analisis

Percobaan membuat comment yang benar

In [4]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

#### Analisis

Menggunakan multiple comment

In [5]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

#### Analisis

Menggunakan comment yang lebih banyak line nya

## Python Variables

In [6]:
x = 5
y = "John"
print(x)
print(y)

5
John

#### Analisis

Membuat variable x dan y, yang bertipe int dan str yang berisi (5 dan "John") dan menampilkannya

In [7]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

#### Analisis

Menimpa variable x yang bertipe int berubah menjadi str dengan nilai "Sally"

In [1]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

#### Analisis
Jika Anda ingin menentukan tipe data suatu variabel, ini dapat dilakukan dengan casting.

## Python Names

In [2]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#### Analisis
Nama variabel yang benar

## Python Multiple Values

In [5]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

#### Analisis
Python memungkinkan Anda menetapkan nilai ke beberapa variabel dalam satu baris

In [6]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

#### Analisis
Dan Anda dapat menetapkan nilai yang sama ke beberapa variabel dalam satu baris

In [7]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

#### Analisis
Jika Anda memiliki sekumpulan nilai dalam bentuk daftar, tupel, dll., Python memungkinkan Anda untuk mengekstrak nilai-nilai tersebut ke dalam variabel. Proses ini disebut unpacking.

## Output Variables

In [8]:
x = "Python is awesome"
print(x)

Python is awesome

#### Analisis
Fungsi print() sering digunakan untuk mengeluarkan variabel.

In [9]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

#### Analisis
Dalam fungsi print(), Anda mengeluarkan beberapa variabel, dipisahkan dengan koma.

In [10]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

#### Analisis
Anda juga dapat menggunakan operator + untuk mengeluarkan beberapa variabel

In [11]:
x = 5
y = 10
print(x + y)

15

#### Analisis
Untuk angka, karakter + berfungsi sebagai operator matematika

In [12]:
x = 5
y = "John"
print(x, y)

5 John

#### Analisis
Cara terbaik untuk mengeluarkan beberapa variabel dalam fungsi print() adalah dengan memisahkannya dengan koma, yang bahkan mendukung tipe data yang berbeda

## Global Variables

In [13]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

#### Analisis
Buat variabel di luar fungsi, dan gunakan di dalam fungsi

In [14]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

#### Analisis
Buat variabel di dalam fungsi, dengan nama yang sama dengan variabel global

In [15]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

#### Analisis
Jika Anda menggunakan kata kunci global, variabel tersebut termasuk dalam cakupan global

In [16]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

#### Analisis
Untuk mengubah nilai variabel global di dalam suatu fungsi, rujuk variabel tersebut dengan menggunakan kata kunci global

## Python Data Types

In [17]:
x = 5
print(type(x))

<class 'int'>

#### Analisis
Cetak tipe data variabel x

## Python Numbers

In [18]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#### Analisis
Variabel bertipe numerik dibuat ketika Anda menetapkan nilai pada variabel tersebut

In [19]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

#### Analisis
Untuk memverifikasi jenis objek apa pun di Python, gunakan fungsi type()

In [20]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#### Analisis
Int, atau integer, adalah bilangan bulat, positif atau negatif, tanpa desimal, dengan panjang tidak terbatas.

In [21]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

#### Analisis
Float, atau "bilangan titik mengambang" adalah angka, positif atau negatif, yang mengandung satu atau lebih desimal.

In [22]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

#### Analisis
Float juga bisa berupa angka ilmiah dengan "e" untuk menunjukkan pangkat 10.

In [23]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

#### Analisis
Bilangan kompleks ditulis dengan "j" sebagai bagian imajiner

In [24]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

#### Analisis
Anda dapat mengonversi dari satu tipe ke tipe lain dengan metode int(), float(), dan complex()

In [25]:
import random

print(random.randrange(1, 10))

7

#### Analisis
Python tidak memiliki fungsi random() untuk membuat angka acak, tetapi Python memiliki modul bawaan yang disebut random yang dapat digunakan untuk membuat angka acak

## Python Casting

In [26]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [27]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [28]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

#### Analisis
Oleh karena itu, pengecoran dalam Python dilakukan menggunakan fungsi konstruktor:

int() - membangun bilangan integer dari literal integer, literal float (dengan menghapus semua desimal), atau literal string (dengan syarat string tersebut merepresentasikan bilangan bulat).
float() - membangun bilangan float dari literal integer, literal float, atau literal string (dengan syarat string tersebut merepresentasikan float atau integer).
str() - membangun string dari berbagai tipe data, termasuk string, literal integer, dan literal float.

## Python Strings

In [29]:
print("Hello")
print('Hello')

Hello
Hello

#### Analisis
Anda dapat menampilkan string literal dengan print()

In [30]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

#### Analisis
Anda dapat menggunakan tanda kutip di dalam string, selama tanda kutip tersebut tidak cocok dengan tanda kutip di sekitar string tersebut

In [31]:
a = "Hello"
print(a)

Hello

#### Analisis
Penugasan string ke variabel dilakukan dengan nama variabel diikuti dengan tanda sama dengan dan string

In [32]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#### Analisis
Anda dapat menggunakan tiga tanda kutip ganda

In [33]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#### Analisis
Atau tiga tanda kutip tunggal

In [34]:
a = "Hello, World!"
print(a[1])

e

#### Analisis
Dapatkan karakter pada posisi 1 (ingat bahwa karakter pertama memiliki posisi 0)

In [35]:
for x in "banana":
  print(x)

b
a
n
a
n
a

#### Analisis
Ulangi huruf-huruf dalam kata "banana"

In [36]:
a = "Hello, World!"
print(len(a))

13

#### Analisis
Fungsi len() mengembalikan panjang string

In [37]:
txt = "The best things in life are free!"
print("free" in txt)

True

#### Analisis
Periksa apakah "free" ada dalam teks berikut

In [38]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

#### Analisis
Cetak hanya jika ada "free"

In [39]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

#### Analisis
Periksa apakah "expensive" TIDAK ada dalam teks berikut

In [40]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

#### Analisis
cetak hanya jika "expensive" TIDAK ada

## Slicing Strings

In [41]:
b = "Hello, World!"
print(b[2:5])

llo

#### Analisis
Dapatkan karakter dari posisi 2 ke posisi 5 (tidak termasuk)

In [42]:
b = "Hello, World!"
print(b[:5])

Hello

#### Analisis
Dapatkan karakter dari awal hingga posisi 5 (tidak termasuk)

In [43]:
b = "Hello, World!"
print(b[2:])

llo, World!

#### Analisis
Dapatkan karakter dari posisi 2, dan sampai ke akhir

In [44]:
b = "Hello, World!"
print(b[-5:-2])

orl

#### Analisis
Dapatkan karakternya:

Dari: "o" di "World!" (posisi -5)

Ke, tetapi tidak termasuk: "d" di "World!" (posisi -2)

## Modify Strings

In [45]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

#### Analisis
Metode upper() mengembalikan string dalam huruf besar

In [46]:
a = "Hello, World!"
print(a.lower())

hello, world!

#### Analisis
Metode lower() mengembalikan string dalam huruf kecil

In [47]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

#### Analisis
Metode strip() menghapus spasi apa pun dari awal atau akhir

In [48]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

#### Analisis
Metode replace() mengganti string dengan string lain

In [49]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

#### Analisis
Metode split() membagi string menjadi substring jika menemukan contoh pemisah

## String Concatenation

In [50]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

#### Analisis
Gabungkan variabel a dengan variabel b ke dalam variabel c

In [51]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

#### Analisis
Untuk menambahkan spasi di antara keduanya, tambahkan " "

## Format - Strings

In [52]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

#### Analisis
Membuat string f

In [53]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

#### Analisis
Tambahkan placeholder untuk variabel harga

In [54]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

#### Analisis
Menampilkan harga dengan 2 desimal

In [55]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

#### Analisis
Lakukan operasi matematika di placeholder, dan kembalikan hasilnya

## Escape Characters

In [56]:
txt = "We are the so-called \"Vikings\" from the north."

#### Analisis
Karakter escape memungkinkan Anda menggunakan tanda kutip ganda ketika biasanya tidak diperbolehkan

## Python Booleans

In [57]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

#### Analisis
Dalam pemrograman, Anda sering kali perlu mengetahui apakah suatu ekspresi bernilai Benar atau Salah.

Anda dapat mengevaluasi ekspresi apa pun di Python, dan mendapatkan salah satu dari dua jawaban, Benar atau Salah.

Ketika Anda membandingkan dua nilai, ekspresi tersebut dievaluasi dan Python mengembalikan jawaban Boolean.

In [58]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

#### Analisis
Cetak pesan berdasarkan apakah kondisinya Benar atau Salah

In [59]:
print(bool("Hello"))
print(bool(15))

True
True

#### Analisis
Mengevaluasi string dan angka

In [60]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

#### Analisis
Mengevaluasi dua variabel

In [61]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

#### Analisis
Hampir semua nilai dievaluasi sebagai Benar jika memiliki semacam konten.

Semua string bernilai Benar, kecuali string kosong.

Semua angka bernilai Benar, kecuali 0.

Semua daftar, tupel, himpunan, dan kamus bernilai Benar, kecuali yang kosong.

Ini akan mengembalikan True

In [62]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

#### Analisis
Faktanya, tidak banyak nilai yang bernilai Salah, kecuali nilai kosong, seperti (), [], {}, "", angka 0, dan nilai None. Dan tentu saja, nilai Salah juga bernilai Salah.

Ini akan mengembalikan False

In [63]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

#### Analisis
Satu nilai lagi, atau objek dalam kasus ini, dievaluasi menjadi Salah, dan itu jika Anda memiliki objek yang dibuat dari kelas dengan fungsi __len__ yang mengembalikan 0 atau Salah

In [64]:
def myFunction() :
  return True

print(myFunction())

True

#### Analisis
Anda dapat membuat fungsi yang mengembalikan Nilai Boolean

Cetak jawaban suatu fungsi

In [65]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

#### Analisis
Anda dapat mengeksekusi kode berdasarkan jawaban Boolean suatu fungsi

Cetak "YA!" jika fungsi mengembalikan Benar, jika tidak, cetak "TIDAK!"

In [66]:
x = 200
print(isinstance(x, int))

True

#### Analisis
Python juga memiliki banyak fungsi bawaan yang mengembalikan nilai boolean, seperti fungsi isinstance(), yang dapat digunakan untuk menentukan apakah suatu objek memiliki tipe data tertentu

Periksa apakah suatu objek adalah bilangan bulat atau bukan

## Python Operators

In [67]:
print(10 + 5)

15

#### Analisis
Operator digunakan untuk melakukan operasi pada variabel dan nilai.

Dalam contoh di bawah ini, kita menggunakan operator + untuk menjumlahkan dua nilai.

In [68]:
sum1 = 100 + 50      # 150 (100 + 50)
sum2 = sum1 + 250    # 400 (150 + 250)
sum3 = sum2 + sum2   # 800 (400 + 400)

#### Analisis
Meskipun operator + sering digunakan untuk menambahkan dua nilai, seperti pada contoh di atas, operator ini juga dapat digunakan untuk menambahkan variabel dan nilai, atau dua variabel.

## Python Arithmetic Operators

In [69]:
x = 15
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

19
11
60
3.75
3
50625
3

#### Analisis
Ini adalah contoh penggunaan operator aritmatika yang berbeda

In [71]:
x = 12
y = 5

print(x / y)

2.4

#### Analisis
Python memiliki dua operator pembagian:

/ - Pembagian (mengembalikan bilangan float)

// - Pembagian floor (mengembalikan bilangan integer)

Pembagian selalu mengembalikan float

In [72]:
x = 12
y = 5

print(x // y)

2

#### Analisis
Pembagian lantai selalu menghasilkan bilangan bulat.

Dibulatkan ke BAWAH ke bilangan bulat terdekat.

## Python Assignment Operators

In [73]:
numbers = [1, 2, 3, 4, 5]
count = len(numbers)
if count > 3:
    print(f"List has {count} elements")

if (count := len(numbers)) > 3:
    print(f"List has {count} elements")

List has 5 elements
List has 5 elements

#### Analisis
Python 3.8 memperkenalkan operator :=, yang dikenal sebagai "operator walrus". Operator ini menetapkan nilai ke variabel sebagai bagian dari ekspresi yang lebih besar.

## Python Comparison Operators

In [74]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

#### Analisis
Operator perbandingan mengembalikan Benar atau Salah berdasarkan perbandingan

In [75]:
x = 5

print(1 < x < 10)

print(1 < x and x < 10)

True
True

#### Analisis
Python memungkinkan Anda untuk merangkai operator perbandingan

## Python Logical Operators

In [76]:
x = 5

print(x > 0 and x < 10)

True

#### Analisis
Uji apakah suatu angka lebih besar dari 0 dan kurang dari 10

In [77]:
x = 5

print(x < 5 or x > 10)

False

#### Analisis
Uji apakah suatu angka kurang dari 5 atau lebih besar dari 10

In [78]:
x = 5

print(not(x > 3 and x < 10))

False

#### Analisis
Membalikkan hasil dengan tidak

## Python Identity Operators

In [79]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

#### Analisis
Operator is mengembalikan True jika kedua variabel menunjuk ke objek yang sama

In [80]:
x = ["apple", "banana"]
y = ["apple", "banana"]

print(x is not y)

True

#### Analisis
Operator is not mengembalikan True jika kedua variabel tidak menunjuk ke objek yang sama

In [81]:
x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)
print(x is y)

True
False

#### Analisis
is - Memeriksa apakah kedua variabel menunjuk ke objek yang sama di memori

== - Memeriksa apakah nilai kedua variabel sama

## Python Membership Operators

In [82]:
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)

True

#### Analisis
Periksa apakah "banana" ada dalam daftar

In [83]:
fruits = ["apple", "banana", "cherry"]

print("pineapple" not in fruits)

True

#### Analisis
Periksa apakah "pineapple" TIDAK ada dalam daftar

In [84]:
text = "Hello World"

print("H" in text)
print("hello" in text)
print("z" not in text)

True
False
True

#### Analisis
Operator keanggotaan juga bekerja dengan string

## Python Bitwise Operators

In [85]:
print(6 & 3)

2

#### Analisis
Operator & membandingkan setiap bit dan mengaturnya menjadi 1 jika keduanya bernilai 1, jika tidak maka akan diatur menjadi 0

Representasi biner dari 6 adalah 0110

Representasi biner dari 3 adalah 0011

Kemudian operator & membandingkan bit-bit tersebut dan menghasilkan 0010, yang merupakan 2 dalam desimal.

In [86]:
print(6 | 3)

7

#### Analisis
Operator | membandingkan setiap bit dan mengaturnya menjadi 1 jika satu atau keduanya bernilai 1, jika tidak maka akan diatur ke 0

Representasi biner dari 6 adalah 0110

Representasi biner dari 3 adalah 0011

Kemudian operator | membandingkan bit-bit tersebut dan menghasilkan 0111, yang merupakan 7 dalam desimal.

In [87]:
print(6 ^ 3)

5

#### Analisis
Operator ^ membandingkan setiap bit dan mengaturnya menjadi 1 jika hanya satu yang bernilai 1, jika tidak (jika keduanya bernilai 1 atau keduanya bernilai 0) maka diatur ke 0

Representasi biner dari 6 adalah 0110

Representasi biner dari 3 adalah 0011

Kemudian operator ^ membandingkan bit-bit tersebut dan menghasilkan 0101, yang merupakan 5 dalam desimal.

## Python Operator Precedence

In [88]:
print((6 + 3) - (6 + 3))

0

#### Analisis
Tanda kurung memiliki prioritas tertinggi, artinya ekspresi di dalam tanda kurung harus dievaluasi terlebih dahulu

In [89]:
print(100 + 5 * 3)

115

#### Analisis
Perkalian * mempunyai prioritas lebih tinggi daripada penambahan +, dan oleh karena itu perkalian dievaluasi sebelum penambahan

In [90]:
print(5 + 4 - 7 + 3)

5

#### Analisis
Jika dua operator memiliki prioritas yang sama, ekspresi dievaluasi dari kiri ke kanan.

Penjumlahan + dan pengurangan - memiliki prioritas yang sama, dan oleh karena itu kita mengevaluasi ekspresi dari kiri ke kanan

## Python If Statement

In [91]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

#### Analisis
Python mendukung kondisi logika umum dari matematika:

Sama dengan: a == b
Tidak Sama dengan: a != b
Kurang dari: a < b
Kurang dari atau sama dengan: a <= b
Lebih besar dari: a > b
Lebih besar dari atau sama dengan: a >= b
Kondisi ini dapat digunakan dalam beberapa cara, paling umum dalam "pernyataan if" dan perulangan.

"Pernyataan if" ditulis dengan menggunakan kata kunci if.

Jika pernyataan

Dalam contoh ini, saya menggunakan dua variabel, a dan b, yang digunakan sebagai bagian dari pernyataan if untuk menguji apakah b lebih besar dari a. Karena a adalah 33, dan b adalah 200, kami tahu bahwa 200 lebih besar dari 33, sehingga kami menampilkan di layar bahwa "b lebih besar dari a".

In [92]:
number = 15
if number > 0:
  print("The number is positive")

The number is positive

#### Analisis
Pernyataan if mengevaluasi suatu kondisi (ekspresi yang menghasilkan nilai Benar atau Salah). Jika kondisinya benar, blok kode di dalam pernyataan if akan dieksekusi. Jika kondisinya salah, blok kode akan dilewati.

Memeriksa apakah suatu angka positif

In [93]:
age = 20
if age >= 18:
  print("You are an adult")
  print("You can vote")
  print("You have full legal rights")

You are an adult
You can vote
You have full legal rights

#### Analisis
Anda dapat memiliki beberapa pernyataan di dalam blok if. Semua pernyataan harus memiliki indentasi yang sama.

Beberapa pernyataan dalam blok if

In [94]:
is_logged_in = True
if is_logged_in:
  print("Welcome back!")

Welcome back!

#### Analisis
Variabel Boolean dapat digunakan langsung dalam pernyataan if tanpa operator perbandingan.

Menggunakan variabel boolean

Python dapat mengevaluasi berbagai jenis nilai sebagai Benar atau Salah dalam pernyataan if.

Nilai nol (0), string kosong (""), None, dan koleksi kosong diperlakukan sebagai Salah. Semua nilai lainnya diperlakukan sebagai Benar.

Ini termasuk bilangan positif (5), bilangan negatif (-3), dan string apa pun yang tidak kosong (bahkan "Salah" pun diperlakukan sebagai Benar karena string tersebut tidak kosong).

## Python Elif Statement

In [95]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

#### Analisis
Kata kunci elif adalah cara Python untuk mengatakan "jika kondisi sebelumnya tidak benar, maka coba kondisi ini".

Kata kunci elif memungkinkan Anda untuk memeriksa beberapa ekspresi untuk memastikan nilai Benar dan mengeksekusi blok kode segera setelah salah satu kondisi bernilai Benar.

Dalam contoh ini a sama dengan b, jadi kondisi pertama tidak benar, tetapi kondisi elif benar, jadi kita mencetak ke layar bahwa "a dan b sama".

In [96]:
score = 75

if score >= 90:
  print("Grade: A")
elif score >= 80:
  print("Grade: B")
elif score >= 70:
  print("Grade: C")
elif score >= 60:
  print("Grade: D")

Grade: C

#### Analisis
Anda dapat memiliki pernyataan elif sebanyak yang Anda butuhkan. Python akan memeriksa setiap kondisi secara berurutan dan mengeksekusi kondisi pertama yang benar.

Menguji berbagai kondisi

Dalam contoh ini, program memeriksa setiap kondisi secara berurutan. Karena skornya 75, program akan mencetak "Nilai: C" (kondisi pertama yang bernilai benar).

In [97]:
age = 25

if age < 13:
  print("You are a child")
elif age < 20:
  print("You are a teenager")
elif age < 65:
  print("You are an adult")
elif age >= 65:
  print("You are a senior")

You are an adult

#### Analisis
Saat Anda menggunakan elif, Python mengevaluasi kondisi dari atas ke bawah. Segera setelah menemukan kondisi yang benar, Python akan mengeksekusi blok tersebut dan melewati semua kondisi yang tersisa.

Penting: Hanya kondisi pertama yang benar yang akan dieksekusi. Bahkan jika beberapa kondisi benar, Python akan berhenti setelah mengeksekusi blok pertama yang cocok.

Mengkategorikan kelompok usia

In [98]:
day = 3

if day == 1:
  print("Monday")
elif day == 2:
  print("Tuesday")
elif day == 3:
  print("Wednesday")
elif day == 4:
  print("Thursday")
elif day == 5:
  print("Friday")
elif day == 6:
  print("Saturday")
elif day == 7:
  print("Sunday")

Wednesday

#### Analisis
Gunakan elif ketika Anda memiliki beberapa kondisi yang saling eksklusif untuk diperiksa. Ini lebih efisien daripada menggunakan beberapa pernyataan if terpisah karena Python berhenti memeriksa setelah menemukan kondisi yang benar.

Contoh
Pemeriksa hari dalam seminggu

## Python Else Statement

In [99]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

#### Analisis
Kata kunci else menangkap apa pun yang tidak ditangkap oleh kondisi sebelumnya.

Pernyataan else dieksekusi ketika kondisi if (dan kondisi elif apa pun) bernilai Salah.

Dalam contoh ini a lebih besar dari b, jadi kondisi pertama tidak benar, kondisi elif juga tidak benar, jadi kita masuk ke kondisi else dan mencetak ke layar bahwa "a lebih besar dari b".

In [100]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

#### Analisis
Anda juga dapat memiliki else tanpa elif

Ini menciptakan pilihan dua arah yang sederhana: jika kondisinya benar, jalankan satu blok; jika tidak, jalankan blok else.

In [101]:
number = 7

if number % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

The number is odd

#### Analisis
Cara Kerja Else

Pernyataan else menyediakan tindakan default ketika tidak ada kondisi sebelumnya yang benar. Anggap saja sebagai "catch-all" untuk skenario apa pun yang tidak tercakup oleh pernyataan if dan elif Anda.

Catatan: Pernyataan else harus berada di akhir. Anda tidak dapat menggunakan elif setelah else.

Contoh
Memeriksa bilangan genap atau ganjil

In [102]:
temperature = 22

if temperature > 30:
  print("It's hot outside!")
elif temperature > 20:
  print("It's warm outside")
elif temperature > 10:
  print("It's cool outside")
else:
  print("It's cold outside!")

It's warm outside

#### Analisis
Rantai If-Elif-Else Lengkap
Anda dapat menggabungkan if, elif, dan else untuk membuat struktur pengambilan keputusan yang komprehensif.

Contoh
Pengklasifikasi suhu

In [103]:
username = "Emil"

if len(username) > 0:
  print(f"Welcome, {username}!")
else:
  print("Error: Username cannot be empty")

Welcome, Emil!

#### Analisis
Else sebagai Fallback
Pernyataan else bertindak sebagai fallback yang dieksekusi ketika tidak ada kondisi sebelumnya yang benar. Hal ini membuatnya berguna untuk penanganan kesalahan, validasi, dan penyediaan nilai default.

Contoh
Memvalidasi input pengguna

## Python Shorthand If

In [104]:
a = 5
b = 2
if a > b: print("a is greater than b")

a is greater than b

#### Analisis
Singkatan If
Jika Anda hanya memiliki satu pernyataan untuk dieksekusi, Anda dapat meletakkannya di baris yang sama dengan pernyataan if.

Contoh: Dapatkan Server Python Anda Sendiri
Pernyataan if satu baris

Catatan: Anda masih memerlukan titik dua : setelah kondisinya.

In [105]:
a = 2
b = 330
print("A") if a > b else print("B")

B

#### Analisis
Singkatan If ... Else
Jika Anda memiliki satu pernyataan untuk if dan satu untuk else, Anda dapat menempatkannya pada baris yang sama menggunakan ekspresi kondisional:

Contoh
If/else satu baris yang mencetak nilai

Ini disebut ekspresi kondisional (kadang-kadang dikenal sebagai "operator terner").

In [106]:
a = 10
b = 20
bigger = a if a > b else b
print("Bigger is", bigger)

Bigger is 20

#### Analisis
Menetapkan Nilai dengan If ... Else
Anda juga dapat menggunakan if/else satu baris untuk memilih nilai dan menetapkannya ke variabel.

Sintaksisnya mengikuti pola ini:

variable = value_if_true if condition else value_if_false

In [107]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

#### Analisis
Beberapa Kondisi dalam Satu Baris
Anda dapat merangkai ekspresi kondisional, tetapi buatlah singkat agar tetap mudah dibaca:

Contoh
Satu baris, tiga hasil

In [108]:
x = 15
y = 20
max_value = x if x > y else y
print("Maximum value:", max_value)

Maximum value: 20

#### Analisis
Contoh Praktis
Operator terner sangat berguna untuk penugasan sederhana dan pernyataan return.

Contoh
Menemukan nilai maksimum dua angka

In [109]:
username = ""
display_name = username if username else "Guest"
print("Welcome,", display_name)

Welcome, Guest

#### Analisis
Menetapkan nilai default

#### Note
Kapan Menggunakan If Singkat
Pernyataan if singkat dan operator terner sebaiknya digunakan ketika:

Kondisi dan tindakannya sederhana
Ini meningkatkan keterbacaan kode
Anda ingin membuat penugasan cepat berdasarkan suatu kondisi
Penting: Meskipun pernyataan if singkat dapat membuat kode lebih ringkas, hindari penggunaannya yang berlebihan untuk kondisi yang kompleks. Untuk keterbacaan, gunakan pernyataan if-else biasa ketika menangani beberapa baris kode atau logika yang kompleks.

## Python Logical Operators

In [110]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

#### Analisis
Operator Logika Python
Operator logika digunakan untuk menggabungkan pernyataan kondisional. Python memiliki tiga operator logika:

and - Mengembalikan True jika kedua pernyataan bernilai true
or - Mengembalikan True jika salah satu pernyataan bernilai true
not - Membalikkan hasil, mengembalikan False jika hasilnya true
Operator and
Kata kunci and adalah operator logika, dan digunakan untuk menggabungkan pernyataan kondisional. Kedua kondisi harus bernilai true agar seluruh ekspresi bernilai true.

Contoh: Dapatkan Server Python Anda Sendiri
Uji apakah a lebih besar dari b, DAN jika c lebih besar dari a

In [111]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

#### Analisis
Operator or
Kata kunci or adalah operator logika, dan digunakan untuk menggabungkan pernyataan kondisional. Setidaknya satu kondisi harus benar agar seluruh ekspresi bernilai benar.

Contoh
Uji apakah a lebih besar dari b, ATAU jika a lebih besar dari c

In [112]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

#### Analisis
Operator not
Kata kunci not adalah operator logika, dan digunakan untuk membalikkan hasil pernyataan kondisional.

Contoh
Uji apakah a TIDAK lebih besar dari b

In [113]:
age = 25
is_student = False
has_discount_code = True

if (age < 18 or age > 65) and not is_student or has_discount_code:
  print("Discount applies!")

Discount applies!

#### Analisis
Menggabungkan Beberapa Operator
Anda dapat menggabungkan beberapa operator logika dalam satu ekspresi. Python mengevaluasi bukan pertama, lalu dan, lalu atau.

Contoh
Menggabungkan dan, atau, dan bukan

In [114]:
temperature = 25
is_raining = False
is_weekend = True

if (temperature > 20 and not is_raining) or is_weekend:
  print("Great day for outdoor activities!")

Great day for outdoor activities!

#### Analisis
Menggunakan Tanda Kurung untuk Kejelasan
Saat menggabungkan beberapa operator logika, gunakan tanda kurung untuk memperjelas maksud Anda dan mengontrol urutan evaluasi.

Contoh
Menggunakan tanda kurung untuk kondisi kompleks

In [115]:
username = "Tobias"
password = "secret123"
is_verified = True

if username and password and is_verified:
  print("Login successful")
else:
  print("Login failed")

Login successful

#### Analisis
Pemeriksaan otentikasi pengguna

In [116]:
score = 85

if score >= 0 and score <= 100:
  print("Valid score")
else:
  print("Invalid score")

Valid score

#### Analisis
Pemeriksaan rentang dengan operator logika

## Python Nested If

In [117]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

#### Analisis
Pernyataan If Bersarang
Anda dapat memiliki pernyataan if di dalam pernyataan if. Ini disebut pernyataan if bersarang.

Dalam contoh ini, pernyataan if dalam hanya berjalan jika kondisi luar (x > 10) benar.

In [118]:
age = 25
has_license = True

if age >= 18:
  if has_license:
    print("You can drive")
  else:
    print("You need a license")
else:
  print("You are too young to drive")

You can drive

#### Analisis
Cara Kerja Nested If
Setiap tingkat nested if menciptakan tingkat pengambilan keputusan yang lebih mendalam. Kode mengevaluasi dari kondisi terluar ke dalam.

Contoh
Memeriksa beberapa kondisi dengan nested if

In [119]:
score = 85
attendance = 90
submitted = True

if score >= 60:
  if attendance >= 80:
    if submitted:
      print("Pass with good standing")
    else:
      print("Pass but missing assignment")
  else:
    print("Pass but low attendance")
else:
  print("Fail")

Pass with good standing

#### Analisis
Beberapa Tingkatan Nesting
Anda dapat membuat nesting sedalam mungkin, tetapi perlu diingat bahwa terlalu banyak tingkatan dapat membuat kode lebih sulit dibaca.

Contoh
Tiga tingkatan nesting

In [120]:
temperature = 25
is_sunny = True

if temperature > 20:
  if is_sunny:
    print("Perfect beach weather!")

Perfect beach weather!

#### Analisis
Operator If Bersarang vs. Operator Logika
Terkadang pernyataan if bersarang dapat disederhanakan menggunakan operator logika seperti dan. Pilihannya tergantung pada logika Anda.

Contoh
If bersarang ini

In [121]:
temperature = 25
is_sunny = True

if temperature > 20 and is_sunny:
  print("Perfect beach weather!")

Perfect beach weather!

#### Analisis
Contoh
Bisa juga ditulis dengan and

Kedua pendekatan menghasilkan hasil yang sama. Gunakan pernyataan if bersarang ketika logika internal kompleks atau bergantung pada kondisi eksternal. Gunakan dan ketika kedua kondisi sederhana dan sama pentingnya.

In [122]:
username = "Emil"
password = "python123"
is_active = True

if username:
  if password:
    if is_active:
      print("Login successful")
    else:
      print("Account is not active")
  else:
    print("Password required")
else:
  print("Username required")

Login successful

#### Analisis
Validasi login dengan pemeriksaan bersarang

In [123]:
score = 92
extra_credit = 5

if score >= 90:
  if extra_credit > 0:
    print("A+ grade")
  else:
    print("A grade")
elif score >= 80:
  print("B grade")
else:
  print("C grade or below")

A+ grade

#### Analisis
Perhitungan nilai dengan logika bersarang

## Python Pass Statement

In [124]:
a = 33
b = 200

if b > a:
  pass

#### Analisis
Pernyataan pass
Pernyataan if tidak boleh kosong, tetapi jika karena suatu alasan Anda memiliki pernyataan if tanpa konten, masukkan pernyataan pass untuk menghindari kesalahan.

Pernyataan "pass" adalah operasi null - tidak terjadi apa-apa saat dijalankan. Pernyataan ini berfungsi sebagai pengganti.

In [125]:
age = 16

if age < 18:
  pass # TODO: Add underage logic later
else:
  print("Access granted")

#### Analisis
Mengapa Menggunakan pass?
Pernyataan pass berguna dalam beberapa situasi:

Saat Anda membuat struktur kode tetapi belum mengimplementasikan logikanya
Saat suatu pernyataan diperlukan secara sintaksis tetapi tidak ada tindakan yang diperlukan
Sebagai pengganti kode di masa mendatang selama pengembangan
Dalam fungsi atau kelas kosong yang akan Anda implementasikan nanti
pass dalam Pengembangan
Selama pengembangan, Anda mungkin ingin membuat sketsa struktur program Anda sebelum mengimplementasikan detailnya. Pernyataan pass memungkinkan Anda melakukan ini tanpa kesalahan sintaksis.

Contoh
Pengganti untuk implementasi di masa mendatang

In [126]:
score = 85

if score > 90:
  pass # This is excellent
print("Score processed")

Score processed

#### Analisis
Ini berfungsi dengan benar dengan pass

In [127]:
value = 50

if value < 0:
  print("Negative value")
elif value == 0:
  pass # Zero case - no action needed
else:
  print("Positive value")

Positive value

#### Analisis
pass dengan Beberapa Kondisi
Anda dapat menggunakan pass di cabang mana pun dari pernyataan if-elif-else.

Contoh
Menggunakan pass di berbagai cabang

In [128]:
def calculate_discount(price):
  pass # TODO: Implement discount logic

# Function exists but doesn't do anything yet

#### Analisis
pass dalam Konteks Lain
Meskipun kita fokus pada pass dengan pernyataan if di sini, pernyataan ini juga umum digunakan dengan loop, fungsi, dan kelas.

Contoh
Menggunakan pass dengan fungsi

## Python Match

#### Note
Pernyataan match digunakan untuk melakukan berbagai tindakan berdasarkan kondisi yang berbeda.

Pernyataan Match Python
Daripada menulis banyak pernyataan if..else, Anda dapat menggunakan pernyataan match.

Pernyataan match memilih satu dari banyak blok kode yang akan dieksekusi.

SyntaxGet your own Python Server
match expression:
  case x:
    code block
  case y:
    code block
  case z:
    code block

In [130]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

#### Analisis
Begini cara kerjanya:

Ekspresi kecocokan dievaluasi sekali.
Nilai ekspresi dibandingkan dengan nilai setiap kasus.
Jika terdapat kecocokan, blok kode terkait akan dieksekusi.

Contoh di atas ini menggunakan nomor hari kerja untuk mencetak nama hari kerja.

In [131]:
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

Looking forward to the Weekend

#### Analisis
Nilai Default
Gunakan karakter garis bawah _ sebagai nilai akhir jika Anda ingin blok kode dieksekusi ketika tidak ada kecocokan lain.

Nilai _ akan selalu cocok, jadi penting untuk menempatkannya sebagai kasus terakhir agar berperilaku sebagai kasus default.

In [132]:
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

#### Analisis
Gabungkan Nilai
Gunakan karakter pipa | sebagai operator atau dalam evaluasi kasus untuk memeriksa kecocokan lebih dari satu nilai dalam satu kasus.

In [133]:
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

#### Analisis
Pernyataan If sebagai Penjaga
Anda dapat menambahkan pernyataan if dalam evaluasi kasus sebagai pemeriksaan kondisi tambahan